/* Question Card - Styles */

.card {
    position: relative;
    background-color: var(--background-color);
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    margin: 25px auto;
    text-align: center;
}

.card__title {
    margin-bottom: 50px;
}

.card__question {
    padding: 40px;
}


/* Bookmark Icon - Styles*/

.card--bookmark-icon {
    position: absolute;
    top: -20px;
    right: 40px;
    width: 50px;
    height: 60px;
    background-image: url("./Images/bookmark.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.card--bookmark-icon.filled {
    background-image: url("./Images/bookmark_filled.png");
}


/* Hidden Answer - Styles */

.card--show-answer {
    width: auto;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.355);
    background-color: var(--background-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.card--show-answer:active {
    box-shadow: none;
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.card--hidden-answer {
    display: none;
    margin-top: 20px;
}

.card--hidden-answer p {
    font-size: 1.1rem;
    margin: 0 auto;
    width: 80%;
}

.card__question > input:checked + .card--hidden-answer {
    display: block;
}

.card__question input {
    display: none;
}

/* Hashtags - Styles */

.card__hashtag-container {
    position: relative;
    margin-top: 30px;
}

.card__hashtag-container__hashtags {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: flex-start;
}

.card__hashtag-container__hashtags li {
    list-style: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    background-color: var(--hashtag-color);
    border-radius: 5px;
}
