/* Overall Style */

:root {
    /* Colors */
    --body-color: rgb(255, 254, 249);
    --background-color: rgb(243, 240, 224);
    --accent-color: rgb(56, 199, 125);
    --hashtag-color: rgb(208, 204, 180);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

html {
    font-size: 16px;
    background-color: var(--body-color);
}

main {
    margin: 80px 10px; /* Top and bottom margin to avoid content overlay */
    width: auto;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

/* Title-Section Style */

.title-section {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    background-color: var(--background-color);
    text-align: center;
    height: 50px;
    width: 100%;
}

.title-section__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8px;
}

/* Footer - Style */

footer {
    position: fixed;
    z-index: 10;
    background-color: var(--background-color);
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-top: 2px solid black;
    padding: 10px 0;
}

/* Navbar - Style */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar li {
    list-style: none;
}

.navbar--icon {
    width: 40px;
}