/* Profile Section */

/* Image + Name */

.intro {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.intro img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
}


/* About Me */

.about-me {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
}

.about-me h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.about-me p {
    font-size: 1.2rem;
    text-align: left;
}


/* icons */

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

.border {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 10px;
    min-width: 100px;
    width: auto;
    height: 70px;
}

.icons .border h4 {
    font-size: 1.6rem;
}


/* settings */

.settings {
    width: 90%;
    margin: auto;
}

.settings h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.settings h4 {
    font-size: 1.2rem;
}

.dark-mode-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark-mode-icon {
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 30px;
    width: 60px;
    border-radius: 25px;
}

.dark-mode-switch {
    border: 2px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(31, 31, 31);  
}
